@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fcf6f2;
		--foreground: #535353;

		--muted: #898989;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: #ffffff;
		--card-foreground: #0e151d;

		--primary: #f2d600;
		--primary-foreground: #fff;

		--secondary: #cfcdcd;
		--secondary-foreground: #19232f;

		--accent: #ffffff;
		--accent-foreground: #f8f8f8;

		--destructive: #d00000;
		--destructive-foreground: #ffffff;

		--ring: #4c4847;
		--border: #4c4847;
		--input: #4c4847;

		--radius: 0.5rem;
	}

	.dark {
		--background: #151718;
		--foreground: #e3e6e6;

		/* --muted: #353636; */
		--muted: #5e5e5e;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: #232525;
		--card-foreground: #ffff;

		/* --primary: #ff500b; */
		--primary: #f2d600;
		--primary-foreground: #fff;

		--secondary: #232525;
		--secondary-foreground: #f8f8f8;

		--accent: #222525;
		--accent-foreground: #f8f8f8;

		--destructive: #d00000;
		--destructive-foreground: #ffffff;

		--ring: #353636;
		--border: #353636;
		--input: #151718;
		--radius: 0.5rem;
	}
}
