import type { Metadata } from 'next';
import { Inter } from 'next/font/google';
import './globals.css';

import { Navbar } from '@/components/navbar';
{{#if (eq walletProvider "rainbowkit")}}
import { WalletProvider } from "@/components/wallet-provider"
{{/if}}

const inter = Inter({ subsets: ['latin'] });

export const metadata: Metadata = {
  title: '{{projectName}}',
  description: '{{description}}',
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body className={inter.className}>
        {/* Navbar is included on all pages */}
        <div className="relative flex min-h-screen flex-col">
          {{#if (eq walletProvider "rainbowkit")}}
          <WalletProvider>
            <Navbar />
            <main className="flex-1">
              {children}
            </main>
          </WalletProvider>
          {{else}}
          <Navbar />
          <main className="flex-1">
            {children}
          </main>
          {{/if}}
        </div>
      </body>
    </html>
  );
}
